<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <h1>Iniciar sesión</h1>

    <form action="/login" method="POST">
        <label>Email:</label>
        <input type="email" name="email" required>

        <label>Contraseña:</label>
        <input type="password" name="password" required>

        <button type="submit">Entrar</button>
        <a href="/register">¿No tienes cuenta? Regístrate aquí</a>
    </form>

</body>

</html>