<h1>Resultados de búsqueda</h1>

<p>Buscaste: <%= q %>
</p>

<h2>Usuarios</h2>
<%= usuarios.length %> encontrados

    <h2>Publicaciones</h2>
    <%= publicaciones.length %> encontradas

        <h2>Comentarios</h2>
        <%= comentarios.length %> encontrados